<h1>Industrys</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Created at</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @industries.each do |industry| %>
      <tr>
        <td><%= industry.id %></td>
        <td><%= link_to industry.name, industry_path(industry) %></td>
        <td><%= industry.created_at %></td>
        <td>
          <%= link_to 'Edit', edit_industry_path(industry), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', industry_path(industry), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New', new_industry_path, :class => 'btn btn-primary' %>
